body {
  font-family: sans-serif;
}
.app {
  width: 80%;
  height: 80%;
  background: rebeccapurple;
  color: white;
  border: 5px dotted white;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
}
